//
// Variables
// ==========================================================================


// Primary Colors
// ==========================================================================
$green:					#40bda8;
$gray:					#9b9b9b;
$lightGray:				#bbbbbb;